body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.input-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-container select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-container button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.input-container button:hover {
    background-color: #3e8e41;
}

.weather-data {
    padding: 20px;
}

.weather-data p {
    margin-bottom: 10px;
    font-size: 18px;
}

#location-text {
    font-weight: bold;
}

#temperature-text {
    font-size: 24px;
    font-weight: bold;
}

#description-text {
    font-size: 18px;
    color: #666;
}

.image{
    max-width: 400px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.disableinp{
border: 2px solid red;
}

.disable{
    background-color: red;
}